body{
    background-image: url("/assets/pokemon-bg.jpg");
    background-repeat: no-repeat;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 360px;
}

.container{
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 30px;   
    text-align: center;
    padding: 15px;
}

.center{
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}